@font-face {
font-family: 'CSBlacken';
src: url('/fonts/black-letter/CSBlacken.otf');
}

@font-face {
font-family: 'Curseyt';
src: url('/fonts/black-letter/Curseyt.ttf');
}

@font-face {
font-family: 'Menttalis';
src: url('/fonts/black-letter/Menttalis.otf');
}
