
@font-face {
font-family: 'BellaElegante-LIMIT';
src: url('/fonts/script/BellaElegante-LIMIT.otf');
}

@font-face {
font-family: 'Blagkine-7OArB';
src: url('/fonts/script/Blagkine-7OArB.otf');
}

@font-face {
font-family: 'Brantley-Lodge-Limit';
src: url('/fonts/script/Brantley-Lodge-Limit.ttf');
}

@font-face {
font-family: 'Defalliya-Demo';
src: url('/fonts/script/Defalliya-Demo.otf');
}

@font-face {
font-family: 'Whispered-Trails';
src: url('/fonts/script/Whispered-Trails.ttf');
}
